$green: rgb(40, 167, 69);
$red: rgb(220, 53, 69);

[class][class].BuildTable {
  &-Row {
    &_building {

    }

    &_fail {
      background-color: var(--red);

      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &_success {
      background-color: var(--green);

      &:hover {
        background-color: lighten($green, 10%);
      }
    }
  }
}