[class][class].BuildTable {
  &-Row {
    cursor: pointer;

    &_building {
      background-color: var(--building-background);

      &:hover {
        background-color: var(--building-background-hover);
      }
    }

    &_fail {
      background-color: var(--fail-background);

      &:hover {
        background-color: var(--fail-background-hover);
      }
    }

    &_success {
      background-color: var(--success-background);

      &:hover {
        background-color: var(--success-background-hover);
      }
    }
  }
}