.Theme {
  &_space_default {
    --space-xxxxs: 2px;
    --space-xxxs: 4px;
    --space-xxs: 8px;
    --space-xs: 10px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 20px;
    --space-xl: 24px;
    --space-xxl: 32px;
    --space-xxxl: 40px;
    --space-xxxxl: 48px;
    --space-xxxxxl: 72px;
    --space-1x: 30px;
    --space-2x: 60px;
    --space-3x: 90px;
  }
}
