[class][class].BuildDetails {
  &-Header {
    &_building {
      background-color: var(--building-background);
    }

    &_fail {
      background-color: var(--fail-background);
    }

    &_success {
      background-color: var(--success-background);
    }
  }
}